@model FacultyWebsite.Models.SearchPreviousCourses

@{
    Layout = "_Indexs.cshtml";
}

<div style="text-align : center ; font-size:20px ; color : red ;">
    @ViewData["result"]
</div>

<div class="container add" id="div2">

    <form asp-action="PreviousCourses" method="post" class="login-form">
        <h2>Search for Student Completed Courses </h2>

        <div class="form-group input-group">
            <label asp-for="StudentSsn" style="font-size:18px">Search by Student SSN:</label>
            <input asp-for="StudentSsn" type="text" class="form-control" required />
        </div>

        <button type="submit" class="btn btn-primary">Search</button><br />
    </form>

    <form asp-action="PreviousCourses" method="post" class="login-form">
        <br />
        <hr> <br />
        <h3 align="center" style="font-size:26px">Add Completed Course For Student</h3><br />


        <div class="form-group input-group">
            <label asp-for="NewpreviousCourse.StudentId" style="font-size:18px">Student SSN</label>
            <input asp-for="NewpreviousCourse.StudentId" type="text" class="form-control" required />
        </div>
        <div class="form-group input-group">
            <label asp-for="NewpreviousCourse.CourseName" style="font-size:18px">Course Name</label>
            <input asp-for="NewpreviousCourse.CourseName" type="text" class="form-control" required />
        </div>
        <div class="form-group input-group">
            <label asp-for="NewpreviousCourse.CourseNum" style="font-size:18px">Course Code</label>
            <input asp-for="NewpreviousCourse.CourseNum" type="text" class="form-control" required />
        </div>
        <div class="form-group input-group">
            <label asp-for="NewpreviousCourse.Degree" style="font-size:18px">Degree</label>
            <input asp-for="NewpreviousCourse.Degree" type="text" class="form-control" required />
        </div>
        <div class="form-group input-group">
            <label asp-for="NewpreviousCourse.Result" style="font-size:18px">Result</label>
            <input asp-for="NewpreviousCourse.Result" type="text" class="form-control" required />
        </div>

        <button type="submit" class="btn btn-primary">Add</button>
    </form><br />
    <hr /><br />




    @if (Model != null)
    {
        <h3 align="center" style="font-size:26px">Student Completed Courses</h3>

        foreach (var item in Model.previousCourses)
        {
            <div class="table-responsive">
                <table class="courses-table">
            <dl class="row">

                    <thead>
                        <tr>
                            <th style="background-color: var(--fourth-color); color:var(--thirteen-color)">Course Code</th>
                            <th style="background-color: var(--fourth-color); color:var(--thirteen-color)">Course Name</th>
                            <th style="background-color: var(--fourth-color); color:var(--thirteen-color)">Course Degree</th>
                            <th style="background-color: var(--fourth-color); color:var(--thirteen-color)">
                                Course
                                Result
                            </th>
                            <th style="background-color: var(--fourth-color); color:var(--thirteen-color)">
                                Course Descrption
                            </th>
                        </tr>
                    </thead>

            </dl>
            <dl class="row">

                        <tbody>
                    <tr>
                        <td>
                                @item.CourseNum
                        </td>
                        <td>

                                @item.CourseName
                        </td>

                        <td>

                            @item.Degree
                        </td>

                        <td>

                                @item.Result
                        </td>
                    </tr>
                    </tbody>

            </dl>
            </table>
            </div>
        }

        <form asp-action="PreviousCourses" method="post" class="login-form">
            <br />
            <hr> <br />
            <h3 align="center" style="font-size:26px">Delete Completed Course For Student</h3><br />


            <div class="form-group input-group">
                <label asp-for="ConfirmStudentSsn" style="font-size:18px">Student SSN</label>
                <input asp-for="ConfirmStudentSsn" type="text" class="form-control" required />
            </div>

            <div class="form-group input-group">
                <label asp-for="ConfirmCoursenum" style="font-size:18px">Course Code</label>
                <input asp-for="ConfirmCoursenum" type="text" class="form-control" required />
            </div>


            <button type="submit" class="btn btn-primary">Delete</button><br />
        </form>
    }



</div>

