@model FacultyWebsite.Models.SearchDoctor

@{
    Layout = "_Indexd.cshtml";
}



<!-- Delete Student -->

<div class="container add" id="div2" style="display: block;">
    <form asp-action="SearchDoctor" method="post" class="login-form">
        <h2>Search for a Doctor with Any of this</h2>

        <div class="form-group input-group">
            <label asp-for="confirmSsn" style="font-size:18px">By SSN:</label>
            <input asp-for="confirmSsn" type="text" class="form-control" />
        </div>
        <div class="form-group input-group">
            <label asp-for="confirmPhone" style="font-size:18px">By Phone Number:</label>
            <input asp-for="confirmPhone" type="text" class="form-control" />
        </div>
        
        <div class="form-group input-group">
            <label asp-for="confirmEmail" style="font-size:18px">By Email:</label>
            <input asp-for="confirmEmail" type="text" class="form-control" />
        </div>
        <div class="form-group input-group">
            <label asp-for="confirmUsername" style="font-size:18px">By Username:</label>
            <input asp-for="confirmUsername" type="text" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Search</button><br />
    </form>


    @if (Model != null)
    {
        <div>
            <br />
            <hr> <br />
            <h2 align="center">Doctor Data</h2>

            <dl class="row ">
                <dt class="col-sm-2 input-group">
                    <label asp-for="Fname" style="font-size:18px">First Name </label>
                </dt>

                <dd class="col-sm-10 input-group">
                    <input asp-for="Fname" type="text" class="form-control" readonly />
                </dd>

                <dt class="col-sm-2 input-group">
                    <label asp-for="Lname" style="font-size:18px"> Last Name </label>
                </dt>

                <dd class="col-sm-10 input-group">
                    <input asp-for="Lname" type="text" class="form-control" readonly />
                </dd>

                <dt class="col-sm-2 input-group">
                    <label asp-for="Ssn" style="font-size:18px">Doctor SSN </label>
                </dt>

                <dd class="col-sm-10 input-group">
                    <input asp-for="Ssn" type="text" class="form-control" readonly />
                </dd>

                <dt class="col-sm-2 input-group">
                    <label asp-for="Email" style="font-size:18px">@Html.DisplayNameFor(model => model.Email)</label>
                </dt>

                <dd class="col-sm-10 input-group">
                    <input asp-for="Email" type="text" class="form-control" readonly />
                </dd>

                <dt class="col-sm-2 input-group">
                    <label asp-for="Password" style="font-size:18px">@Html.DisplayNameFor(model => model.Password)</label>
                </dt>

                <dd class="col-sm-10 input-group">
                    <input asp-for="Password" type="text" class="form-control" readonly />
                </dd>

                <dt class="col-sm-2 input-group">
                    <label asp-for="Username" style="font-size:18px">@Html.DisplayNameFor(model => model.Username) </label>
                </dt>

                <dd class="col-sm-10 input-group">
                    <input asp-for="Username" type="text" class="form-control" readonly />
                </dd>
              

                <dt class="col-sm-2 input-group">
                    <label asp-for="Phone" style="font-size:18px"> @Html.DisplayNameFor(model => model.Phone) </label>
                </dt>

                <dd class="col-sm-10 input-group">
                    <input asp-for="Phone" type="text" class="form-control" readonly />
                </dd>

                

            </dl><br />
           
        </div>
    }

</div>

<div style="text-align : center ; font-size:20px ; color : red ;">
    @ViewData["result"]
</div>

